.neh-avatar {
    background-size: cover;
    background-position: top center;
    width: 2.5em; height: 2.5em;
    margin-top: 0.2em;
    border-radius: 50%;
}

li {
    word-break: break-all;
    padding-left: 1.25em;
}

li > .message-content {
    padding-left: 1em;
}

li:hover {
    background-color: rgba(1, 1, 1, 0.1);
    transition: 200ms;
}

.message-content-head-username {
    margin-right: 0.6em;
}

.message-content-head-username:hover {
    cursor: pointer;
    text-decoration: underline;
}

.at-user-highlight {
    background-color: #ffc9083f;
    border-left: solid 0.3em #ffca08;
}

#welcome-banner {
    background-image: url("https://static.bandainamcoent.eu/high/dragon-ball/dragonball-xenoverse-2/00-page-setup/dbxv2_game-thumbnail.jpg");
    background-position:center;
    background-size:cover;
    color: #ffca08;
    height: 18em;
    background-repeat: no-repeat;
}