.pfp {
    height: 2.5em;
    width: 2.5em;
    margin-top: 0.2em;
}

li {
    word-break: break-all;
    padding-left: 1.25em;
}

li > .message-content {
    padding-left: 1em;
}

li:hover {
    background-color: rgba(1, 1, 1, 0.1);
    transition: 200ms;
}

.message-content-head-username {
    margin-right: 0.6em;
}

.message-content-head-username:hover {
    cursor: pointer;
    text-decoration: underline;
}

button.btn-link:hover {
    color: rgb(172, 0, 224);
}

.at-user-highlight {
    background-color: #ffc9083f;
    border-left: solid 0.3em #ffca08;
}