.container {
    margin: auto;
    width: 50%;
    
}

.title {
    text-align: center;
    color:white;
	font-size: 100px;
}
.block {
    width:125px;
    height: 125px;
    
    background-color: gray;
    border-radius: 10px;
    margin:5px;
    padding: 0;
}

.gameContainer {
    background-color: darkgray;
    border-radius: 10px;
    margin: auto;
    display:inline-block;
    padding:15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 80%;
	border: solid 3px white;
}



[class*="tile-"] {
    padding-top: 30%;
    margin: auto;
    width:100%;
    height:100%;
    border-radius: 10px;
    border: 2px solid black;
}

.tile-2 {background-color: white;}
.tile-4 {background-color: beige;}
.tile-8 {background-color: tan;}
.tile-16{background-color: orange;}
.tile-32{background-color: orangered;}
.tile-64{background-color: red;}
.tile-128{background-color: yellow;}
.tile-256{background-color: coral;}
.tile-512{background-color: lightblue;}
.tile-1024{background-color: blue; color: white;}
.tile-2048{background-color: black; color:white;}


body {
    background-color: black;
}

.score{
	text-align: center;
	color:white;
}